tests/schema2.xml

<?xml version="1.0"?>
 <schema targetNamespace="zapad" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified">
  <complexType name="Address">
   <sequence>
     <element name="country" type="xsd:string" minOccurs="1" maxOccurs="1"/>
     <element name="city" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>
</schema>
